/*Styles-sistema.css*/
body {
  display: flex;
  flex-direction: column;
  background-image: url('/vegesoft-v1/assets/frutas1.jpg');
  background-blend-mode: overlay;
  font-family: Candara, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 192px;
  height: 147px;
  background-color: rgba(254, 241, 226, 255);
  margin-left: 15px;
}

.baner {
  margin-top: 1%;
  color: #ffffff;
  font-size: 40px;
  font-weight: quarter;
  text-align: center;
  background-color: #00cd4b;
}

main {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80%;
}

.camera-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-view {
  border: 2px solid #fff;
  width: 80%;
  height: 80%;
  background: #000;
}

.product-info-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-info {
  margin-bottom: 20px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}

.product-info input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  font-size: 22px;
}

.bold-text {
  font-size: 40px;
  font-weight: bold;
}

footer {
  margin-top: 80px;
  width: 100%;
  height: 50px;
  background-color: rgb(9, 0, 189);
}

.cont-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cont-icon i {
  margin: 0 10px;
  color: white;
  font-size: 2rem;
}

.text-white {
  color: white;
}
